.nav {
  text-align: end;
  margin-top: 30px;
  margin-right: 10px;
}

.nav a{
  margin-right: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;

}

.row.link {
  margin-top: 60px;
  justify-content: space-around;
  margin-bottom: 60px;

}


